.Home_Container {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.Home_Top_Container,
.Home_Bottom_Container {
    flex: 1;
    border-radius: 10px;
}

.Home_Top_Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Weather Styles ================================================= */
.Home_Weather_Widget {
    width: 35%;
    height: 100%;
    background-color: royalblue;
    border-radius: 10px;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px
}

.Weather_Image_Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Weather_Image_Container img {
    width: 40px;
    height: 40px;
}

.Weather_Content_Container:first-child {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.Weather_Content_Container:first-child p {
    font-size: 32px;
    font-weight: 600;
}

.Weather_Content_Container:last-child {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}


/* News Styles ================================================= */
.Home_News_Widget {
    width: 60%;
    height: 100%;
    background-color: brown;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.News_Header {
    margin: 15px 0px;
}

.News_Header p{
    font-size: 32px;
    font-weight: 600;
}

.News_Categories {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
}

.News_Item {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
}
 
.News_Item span {
 color: white;
}

.News_Item a {
    color: orange;
}


/* Tasks Styles ================================================= */
.Home_Task_Widget {
    width: 100%;
    height: 100%;
    background-color: orange;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Tasks_Header {
    margin: 15px 0px;
}

.Tasks_Header p {
    font-size: 32px;
    font-weight: 600;
}

.Tasks_Options {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: center;
}

.Tasks_Options div {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

.Tasks_List {
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.Tasks_List p {
    font-size: 18px;
    font-weight: 600;
}

.Tasks_List_Item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 0px;
}

.Tasks_List_Item div {
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    column-gap: 10px;
}

.Tasks_List_Item div:last-child {
    column-gap: 20px;
}

.Tasks_List_Item p {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.Tasks_List_Item div:last-child p:last-child{
    color: red;
}

.Tasks_List_Item.Add_Button {
    background-color: darkgoldenrod;
    justify-content: center;
}

.Tasks_List_Item.Add_Button p {
    color: #fff;
}


/* Form Styles ================================================= */
.Edit_Container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: #000000a2;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.Input_Form {
    width: 60%;
    height: 60%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
}

.Form_Header {
    color: darkorange;
    font-size: 32px;
    font-weight: 900;
}

.Form_Body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

.Form_Body p {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.Form_Body input[type=text] {
    width: 100%;
}

.Form_Footer {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.Form_Footer p {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.Button_Red {
    background-color: darkred;
}

.Button_Submit {
    color: darkred;
}

